.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header"
      "sidebar content1 content1"
      "sidebar content2 content3"
      "footer footer footer";
  }
  
  .header { grid-area: header;
     background-color: #f1c40f;
    height: 200px;}
  
  .sidebar { grid-area: sidebar; 
    height: 410px;
    background-color: #e67e22;}
  
  .content1 { grid-area: content1;
    height: 200px;
    background-color: #3498db;}
  
  .content2 { grid-area: content2; 
    height: 200px;
    background-color: #2ecc71;}
  
  .content3 { grid-area: content3;
   height: 200px;
    background-color: #9b59b6;}
  
  .footer { grid-area: footer; 
   height: 200px;
    background-color: #34495e;}

  


